\env
\frames

#Ignore input and output folders
\input
\output
\ignore

#Ignore media files
*.mp4

#vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

#pycache
__pycache__